*.iml
.kotlin
.gradle
**/build/
dist/
tools/*.msi
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
local.gradle.kts
*mobile-sync-secrets*
*ydb-sa-key*
*s3*.properties
**/__pycache__/
